
body{
    background-color: rgb(76, 76, 143);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    display: flexbox;
}
.app{
    background-color: bisque;
    margin: 100px auto 0;
    width: 90%;
    max-width: 800px;
    padding: 15px;
    font-weight: 100;
    border: 10px;
    align-items: center;
    justify-items: center;
    display: flexbox;
}
.btn{
    background-color: aquamarine;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size: larger;
    width: 100%;
    cursor: pointer;
}
#next{
    background-color: rgb(38, 149, 155);
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    font-weight: bold;
    font-size: larger;
    width: 50%;
    display: flex;
    justify-items: center;
    cursor: pointer;
    border: 0;
    justify-self: center;
    justify-content: center;
    margin-left: 25%;
}
.btn:hover{
    background-color: rgb(42, 83, 69);
    color: rgb(241, 241, 10);
}
#next:hover{
    background-color: rgb(42, 83, 69);
    color: rgb(0, 255, 153);
}

.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}

h1{
    display: flex;
    justify-content: center;
}

h2{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.highscore{
    color: aqua;
    margin: 15px;
}

#score{
    color: aqua;
    margin: 15px;
    justify-content: center;
    justify-self: center;
    font-weight: bold;
    display: flex;
}