
body{
    background-color: rgb(76, 76, 143);
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    display: flex;
}
.app{
    background-color: bisque;
    margin: 100px auto 0;
    width: 90%;
    max-width: 800px;
    padding: 15px;
    font-weight: 100;
    border: 10px;
    align-items: center;
    justify-items: center;
}
.btn{
    background-color: aquamarine;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size: larger;
    width: 100%;
    cursor: pointer;
}
#next{
    background-color: rgb(38, 149, 155);
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    font-weight: bold;
    font-size: larger;
    width: 50%;
    display: block;
    justify-items: center;
    cursor: pointer;
    border: 0;
}
.btn:hover{
    background-color: rgb(42, 83, 69);
    color: red;
}
#next:hover{
    background-color: rgb(42, 83, 69);
    color: red;
}

h2{
    margin-top: 10px;
    display: block;
}
h1{
    
}